.App {
  background-color: orange;
  height: 100%;
}

nav {
  border: solid blue;
  display: flex;
  justify-content: space-between;
  background-color: yellowgreen;
}

.links {
  display: flex;
  border: solid;
  width: 500px;
  justify-content: space-evenly;
}
